@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins','Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.w100{
    width: 100%;
}
.w60{
    width: 60%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w33{
    width: 33.333%;
}
.w25{
    width: 25%;
}
/*Header ////////////////////////////////////////////////////////////////////////////*/
.logo{
    width: 25%;
    height: 95px;  
    background-image: url('../img/logo-ong-qualivida.png'); 
    background-position: center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header{
    margin: 25px 0;
    background-color: #006699;
}
.limite{
    margin: 0 auto;
    max-width: 1440px;
}
.content{
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px 3px 15px;
}
nav > .menu {
    list-style-type: none;
    display: flex;
    margin-top: 15px;
}
nav  .menu  a{
    font-family: 'Poppins';
    color: white;
    text-decoration: none;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 600;
    padding: 28px;
}

/*Fim Header /////////////////////////////////////////////////////////////////////////*/

/*Section carrosel-1///////////////////////////////////////////////////////////////////*/
.carrosel-1  .carousel-indicators{
    margin: auto;
}
.carrosel-1  .carousel-indicators > li{
    left: 38%;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    margin: 0px 0px 3px 13px;
}
.carousel-item{
    width: 100%;
}
/*Fim Section carrosel-1///////////////////////////////////////////////////////////////*/

/*bloco-1//////////////////////////////////////////////////////////////////////////////*/
.bloco-1{
    padding: 48px 0 25px 0;
    background-color: white;
}
.bloco-1-p{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    width: 70%;
    color: #454545;
    margin-bottom: 60px;
    margin-top: 15px;
    font-style: normal;
    text-align: center; 
    
}
.bloco-1-btn{
    width: 100%;
    text-align: center;
}
.bloco-1-btn a{
    display: inline-block;
    text-decoration: none;
}
.bloco-1-btn a > p{
    padding-top: 15px;
    cursor: pointer;
    margin: 0 auto;
    background-color: #0FBDCE;
    border-radius: 13px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 84px;
    width: 550px;
    line-height: 24px;
    text-align: right;
}
.bloco-1-btn a p img{
    padding-left: 2px;
    padding-right: 12px;
}
#bloco-1-arrow{
    margin: 0 auto;
    cursor: pointer;
    background-image: url('../img/down-arrow.png');
    width: 60px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
}
#bloco-1-arrow a{
padding: 10px 10px 15px 50px;
}
/*fim bloco-1//////////////////////////////////////////////////////////////////////////////*/

/*bloco-2///////////////////////////////////////////////////////////////////////////////////*/
.bloco-2{
    text-align: center;
    padding: 50px 0 85px 0;
    background-color: #006699;
    color: white;
}
.bloco-2 > h3 {
    margin: 30px;
    color: white;
}
.bloco-2 .bloco-2-container{
    margin-top: 75px;
    display: flex;
    width: 100%;
}
.bloco-2 .bloco-2-container img{
    margin: 25px;
    width: 50%;
    height: 50%;
}
.bloco-2 .bloco-2-container p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    width: 60%;
    margin: auto;
}
.bloco-2 .bloco-2-container h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.container-item-1 > h4{
    margin-bottom: 0;
}
.container-item-1  img{
    margin-top: 100px;
}
/*fim bloco-2//////////////////////////////////////////////////////////////////////////////*/

/*bloco-3 //////////////////////////////////////////////////////////////////////////////////*/
.bloco-3{
    height: 339px;
    width: 100%;
    background-image: url('../img/banner03-sobre\ a\ ong-1458x342.png');
    background-size: 100% 100%;
}
/*fim bloco-3 /////////////////////////////////////////////////////////////////////////////*/

/*bloco-4 //////////////////////////////////////////////////////////////////////////////////*/
.bloco-4{
    text-align: center;
    width: 100%;
    background-color: white;
    height: 100%;
    color: #454545;
}
.bloco-4 > h3 {
    font-family: 'Poppins';
    padding: 40px 0 30px 0;
    font-weight: 600;
    color: #454545;
}
.bloco-4-p{
    margin: 0 auto;
    width: 88%;
    line-height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center; 
}
.bloco-4-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-4-btn a{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 25px;
}
.bloco-4-btn a > p{
    line-height: 350%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color:  #0FBDCE;
    color: white;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 600;
    height: 84px;
    width: 500px;
    padding-top: 8px;
}

/*fim bloco-4 /////////////////////////////////////////////////////////////////////////////*/

/*bloco-5 //////////////////////////////////////////////////////////////////////////////////*/
.bloco-5{
    width: 100%;
    padding: 20px 0 35px 0;
    margin: 30px 0;
    display: flex;
    text-align: center;
    background-color: #0FBDCE;
    color: white;
}
.bloco-5  p{
    font-family: 'Roboto';
    width: 85%;
    margin: 0 auto;
}
#it1{
    margin: 55px 0;
}
#it2{
    margin: 30px 0;
}
#it3{
    margin: 25px 0 30px 0;
}
#it4{
    margin: 55px 0;
}
/*fim bloco-5 /////////////////////////////////////////////////////////////////////////////*/

/*bloco-6 /////////////////////////////////////////////////////////////////////////////////*/
.bloco-6{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    background-image: url('../img/banner-faça-parte-do-projeto-1440x495.png');
    background-size: 100% 100%;
    max-height: 475px;
    color: white;
}
.bloco-6  h3 {
    padding: 40px 0 45px 0;
    font-weight: bold;
    color: white;
}
.bloco-6-item-1 {
    padding: 20px 0 35px 0;
}
.bloco-6-p{
    margin: 0 auto;
    width: 80%;
    color: white;
    line-height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center; 
}
.bloco-6-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-6-btn a{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 25px;
}
.bloco-6-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #0FBDCE;
    color: white;
    font-size: 24px;
    font-weight: 600;
    height: 82px;
    width: 420px;
    line-height: 24px;
    padding-top: 28px;
    border-radius: 13px;
}
/*fim bloco-6 //////////////////////////////////////////////////////////////////////////////*/

/*bloco-7 /////////////////////////////////////////////////////////////////////////////////*/
.bloco-7{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    background-image: url('../img/banner-georgette-vidor-1440x495.png');
    background-size: 100% 100%;
    max-height: 475px;
    color: #454545;
}
.bloco-7 h3 {
    font-family: 'Poppins';
    padding: 10px 0 15px 0;
    font-weight: bold;
}
.bloco-7-item-2 {   
    padding: 20px 15px 35px 0;
}
.bloco-7-p{
    margin: 0 auto;
    width: 95%;
    line-height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center; 
}
.bloco-7-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-7-btn a{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
}
.bloco-7-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: white;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
    height: 82px;
    width: 346px;
    line-height: 24px;
    padding-top: 18px;
    border-radius: 13px;
}
/*fim bloco-7 //////////////////////////////////////////////////////////////////////////////*/

/*bloco-8///////////////////////////////////////////////////////////////////////////////////*/
.bloco-8{
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    background-color: white;
    padding: 20px 0;
}
.bloco-8 > h3{
    padding: 20px 0 5px 0;
    font-weight: bold;
    color: #454545;
}
.bloco-8-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.bloco-8-container img{
    padding: 50px;
}
/*fim bloco-8///////////////////////////////////////////////////////////////////////////////*/

/*bloco-9///////////////////////////////////////////////////////////////////////////////////*/
.bloco-9{
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    background-color: #006699;
    padding: 40px 0 60px 0;
}
.bloco-9 > h3{
    padding: 20px 0 5px 0;
    font-weight: bold;
    color: white;
}
.bloco-9 h3 img{
    height: 45px;
}
.bloco-9-container{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.bloco-9-container img{
    padding: 50px;
    width: 100% ;
    height: 100%;
}
.bloco-9 .carousel-item{
    background-color:transparent ;
}

.bloco-9 .carousel-control-prev{
    position: absolute;
    width: 8%;
}
.bloco-9 .carousel-control-next{
    position: absolute;
    width: 8%;
}
/*fim bloco-9///////////////////////////////////////////////////////////////////////////////*/

/*bloco-10///////////////////////////////////////////////////////////////////////////////*/
.bloco-10{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #0FBDCE;
    padding: 20px 0 80px 0;
    color: #454545;
}
.bloco-10 h3{
    margin: 10px 0 45px 0;
}
.bloco-10 form{
    width: 80%;
    margin: 0 auto;
}
.bloco-10 input{
    width: 100%;
    margin: 35px 0 0 0;
    line-height: 86px;
    border: none;
    text-align: center;
    border-radius: 12px;
    color: #454545;
    font-size: 22px;
}
.bloco-10 input::placeholder{
    color: rgba(200, 200, 200, 200);
    font-size: 22px;
}

.bloco-10-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-10-btn a{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
}
.bloco-10-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #006699;
    color: white;
    font-size: 22px;
    font-weight: 600;
    height: 75px;
    width: 350px;
    line-height: 24px;
    padding-top: 20px;
    border-radius: 12px;
}
.bloco-10-btn a p img{
    width: 32px;
    height: 32px;
}

.bloco-10 iframe{
    width: 90%;
    height: 80%;
    margin-bottom: 25px;
}
/*fim bloco-10///////////////////////////////////////////////////////////////////////////*/

/*bloco-11////////////////////////////////////////////////////////////////////////////////*/
.bloco-11{
    width: 100%;
    text-align: center;
    background-color: #0FBDCE;
    padding: 70px 0 110px 0;
}
.menu-icons{
    display: flex;
    width: 35%;
    margin: 0 auto;
}
.menu-icons a{
    padding: 0px 35px 45px 35px;
}
.menu-icons .bloco-11-item-1{
    background-image: url('../img/instagram.png');
    background-repeat: no-repeat;
    background-position: center; 
    height: 60px;
}
.menu-icons .bloco-11-item-2{
    background-image: url('../img/facebook.png');
    background-repeat: no-repeat;
    background-position: center; 
    height: 60px;
}
.menu-icons .bloco-11-item-3{
    background-image: url('../img/email.png');
    background-repeat: no-repeat;
    background-position: center; 
    height: 60px;
}
.menu-icons .bloco-11-item-4{
    background-image: url('../img/whatsapp.png');
    background-repeat: no-repeat;
    background-position: center; 
    height: 60px;
}
/*fim bloco-10///////////////////////////////////////////////////////////////////////////*/


/*.bloco-6{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    background-image: url('../img/banner-faça-parte-do-projeto-1440x495.png');
    background-size: 100% 100%;
    max-height: 475px;
    color: white;
}
.bloco-6  h3 {
    padding: 40px 0 45px 0;
    font-weight: bold;
    color: white;
}
.bloco-6-item-1 {
    padding: 20px 0 35px 0;
}
.bloco-6-p{
    margin: 0 auto;
    width: 80%;
    color: white;
    line-height: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center; 
}
.bloco-6-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-6-btn a{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 25px;
}
.bloco-6-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #0FBDCE;
    color: white;
    font-size: 24px;
    font-weight: 600;
    height: 82px;
    width: 420px;
    line-height: 24px;
    padding-top: 28px;
    border-radius: 13px;
}*/



/*Media queryss////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1150px){

/*bloco-6 /////////////////////////////////////////////////////////////////////////////////*/
.bloco-6{
    max-height: 450px;
}
.bloco-6-p{
    width: 95%;
}
.bloco-6-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #0FBDCE;
    color: white;
    font-size: 24px;
    font-weight: 600;
    height: 82px;
    width: 320px;
    line-height: 24px;
    padding-top: 28px;
    border-radius: 13px;
}
/*fim bloco-6 //////////////////////////////////////////////////////////////////////////////*/

/*bloco-7 /////////////////////////////////////////////////////////////////////////////////*/
.bloco-7{
    max-height: 450px;
}
.bloco-7-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0 ;
}
.bloco-7-p{
    width: 95%;
}
.bloco-7-btn a > p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: white;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
    height: 82px;
    width: 286px;
    line-height: 24px;
    padding-top: 18px;
    border-radius: 13px;
}
/*fim bloco-7 //////////////////////////////////////////////////////////////////////////////*/
}

@media screen and (max-width: 1000px){
    .bloco-3{
        height: 250px;
    }
    .bloco-6-btn{
        width: 100%;
        text-align: center;
        margin: 0px 0 0 0 ;
    }
}

@media screen and (max-width: 900px){
    .bloco-10 iframe{
        width: 90%;
        height: 60%;
        margin-bottom: 25px;
    }
    .bloco-6{
        height: 400px;
    }
    .bloco-6  h3 {
        padding: 15px 0 10px 0;
        font-weight: bold;
        color: white;
    }
    .bloco-6-btn a > p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background-color: #0FBDCE;
        color: white;
        font-size: 20px;
        font-weight: 600;
        height: 60px;
        width: 260px;
        line-height: 24px;
        padding-top: 20px;
        border-radius: 13px;
    }
    .bloco-7-btn{
        width: 100%;
        text-align: center;
        margin: 20px 0 0 0 ;
    }
    .bloco-9-container img{
        padding: 20px;
        width: 100% ;
        height: 100%;
    }
    .bloco-10 input{
        width: 100%;
        margin: 15px 0 0 0;
        line-height: 50px;
        border: none;
        text-align: center;
        border-radius: 12px;
        color: #454545;
        font-size: 20px;
    }
    .bloco-10 input::placeholder{
        color: rgba(200, 200, 200, 200);
        font-size: 18px;
    }
    .bloco-10{
        display: flex;
        width: 100%;
        text-align: center;
        background-color: #0FBDCE;
        padding: 20px 0 30px 0;
        color: #454545;
    }
    .bloco-10-btn{
        width: 100%;
        text-align: center;
        margin: 40px 0 0 0 ;
    }
    .bloco-10-btn a{
        display: inline-block;
        text-decoration: none;
        margin-bottom: 5px;
    }
    .bloco-10-btn a > p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background-color: #006699;
        color: white;
        font-size: 18px;
        font-weight: 600;
        height: 55px;
        width: 280px;
        line-height: 24px;
        padding-top: 13px;
        border-radius: 12px;
    }
    .bloco-10 h3{
        margin: 10px 0 15px 0;
    }
    .bloco-11{
        width: 100%;
        text-align: center;
        background-color: #0FBDCE;
        padding: 0px 0 60px 0;
    }
}

@media screen and (max-width: 800px){
    .bloco-7{
        max-height: 330px;
    }
    .bloco-6{
        max-height: 330px;
    }
    .bloco-6-p{
        width: 95%;
        font-size: 15px;
    }
    .bloco-7-p{
        width: 95%;
        font-size: 14px;
    }
    .bloco-7 h3{
        font-size: 19px;
        padding: 0px 0 0px 0;
    }
    .bloco-7-btn a > p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background-color: white;
        color: #454545;
        font-size: 15px;
        font-weight: 600;
        height: 50px;
        width: 256px;
        line-height: 18px;
        padding-top: 8px;
        border-radius: 13px;
    }
    .bloco-6  h3 {
        font-size: 19px;
        padding: 0px 0 0px 0;
        font-weight: bold;
        color: white;
    }
    .bloco-6-btn a > p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background-color: #0FBDCE;
        color: white;
        font-size: 18px;
        font-weight: 600;
        height: 50px;
        width: 240px;
        line-height: 24px;
        padding-top: 15px;
        border-radius: 13px;
    }
    .bloco-3{
        height: 230px;
        width: 100%;
        background-image: url('../img/banner03-sobre\ a\ ong-1458x342.png');
        background-size: 100% 100%;
    }
    .bloco-2 .bloco-2-container img{
        margin: 25px;
        width: 50%;
        height: 40%;
    }
    .bloco-10 h3{
        font-size: 18px;
    }
    .menu-icons{
        display: flex;
        width: 20%;
        height: 40px;
        margin: 0 auto;
    }
    .menu-icons a{
        padding: 0px 15px 25px 15px;
    }
    .menu-icons .bloco-11-item-1{
        margin: 7px;
        background-image: url('../img/instagram.png');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 100% 100%;
        height: 30px;
    }
    .menu-icons .bloco-11-item-2{
        margin: 7px;
        background-image: url('../img/facebook.png');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 100% 100%;
        height: 30px;
    }
    .menu-icons .bloco-11-item-3{
        margin: 7px;
        background-image: url('../img/email.png');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 100% 100%;
        height: 30px;
    }
    .menu-icons .bloco-11-item-4{
        margin: 7px;
        background-image: url('../img/whatsapp.png');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 100% 100%;
        height: 30px;
    }
    .bloco-1-p{
        font-family: Poppins;
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto;
        width: 80%;
        color: #454545;
        margin-bottom: 60px;
        margin-top: 15px;
        font-style: normal;
        text-align: center; 
        
    }

    .content{
        height: 108px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 0px 3px 5px;
    }
    nav > .menu {
        list-style-type: none;
        display: flex;
        margin-top: 15px;
    }
    nav  .menu  a{
        font-family: 'Poppins';
        color: white;
        text-decoration: none;
        margin-left: 0%;
        font-size: 18px;
        font-weight: 600;
        padding: 28px 23px 28px 0;
    }
    .logo{
        width: 35%;
        height: 95px;  
        background-image: url('../img/logo-ong-qualivida.png'); 
        background-position: center ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 700px){
    .nav{
        display: none;
    }
    .logo{
        width: 36%;
        height: 65px;  
        background-image: url('../img/logo-ong-qualivida.png'); 
        background-position: center ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .bloco-1-btn a > p{
        padding-top: 11px;
        cursor: pointer;
        margin: 0 auto;
        background-color: #0FBDCE;
        border-radius: 13px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        height: 60px;
        width: 400px;
        line-height: 20px;
        text-align: right;
    }
    .bloco-1-btn a p img{
        width: 52px;
        height: 40px;
    }

    .bloco-2{
        text-align: center;
        padding: 50px 0 85px 0;
        background-color: #006699;
        color: white;
    }
    .bloco-2 > h3 {
        margin: 0px;
        color: white;
    }
    .bloco-2 .bloco-2-container{
        margin-top: 45px;
        display: inline-block;
        width: 100%;
    }

    .bloco-2 .bloco-2-container img{
        margin: 25px;
        width: 40%;
        height: 40%;
    }
    .bloco-2 .bloco-2-container p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        width: 60%;
        margin: auto;
    }
    .bloco-2 .bloco-2-container h4{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .container-item-1 > h4{
        margin-bottom: 0;
    }
    .container-item-1{
        width: 100%;
        margin-top: 45px;
    }
    .container-item-2{
        width: 100%;
        margin-top: 75px;
    }
    .container-item-3{
        width: 100%;
        margin-top: 75px;
    }
    .container-item-1  img{
        margin-top: 100px;
    }
    .bloco-3{
        height: 175px;
        width: 100%;
        background-image: url('../img/banner03-sobre\ a\ ong-1458x342.png');
        background-size: 100% 100%;
    }
    .bloco-5{
        width: 100%;
        padding: 20px 0 35px 0;
        margin: 30px 0;
        display: inline-block;
        text-align: center;
        background-color: #0FBDCE;
        color: white;
    }
    .bloco-5  p{
        font-family: 'Roboto';
        width: 85%;
        margin: 0 auto;
    }
    #it1{
        margin: 25px 0 25px 0;
    }
    #it2{
        margin: 30px 0;
    }
    #it3{
        margin: 25px 0 30px 0;
    }
    #it4{
        margin: 25px 0 25px 0;
    }
    .bloco-5-item-1{
        padding-top: 20px;
        width: 75%;
        margin: 0 auto
    }
    .bloco-5-item-2{
        padding-top: 50px;
        width: 75%;
        margin: 0 auto
    }
    .bloco-5-item-3{
        padding-top: 50px;
        width: 75%;
        margin: 0 auto
    }
    .bloco-5-item-4{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 75%;
        margin: 0 auto;
    }
    .bloco-5-item-4 h1{
        padding: 0px;
    }
    .bloco-6{
        height:100%;
    }
    .bloco-6 h3{
        padding: 15px 0 0 0;
    }
    .bloco-7 h3{
        padding: 15px 0 0 0;
    }
    .bloco-6-item-1 {
        width: 100%;
        background-color: #006699;
    }
    .bloco-6-item-2 {
        display: none;
    }
    .bloco-7{
        height: 100%;
    }
    .bloco-7-item-2 {
        width: 100%;
        background-color: #0FBDCE;
    }
    .bloco-7-item-1 {
        display: none;
    }
    .bloco-6-p{
        width: 75%;
        padding: 25px 0 15px 0;
    }
    .bloco-7-p{
        width: 75%;
        padding: 25px 0 5px 0;
    }
    .bloco-9{
        padding-bottom: 35px;
        padding-top: 20px;
    }
    .bloco-9 > h3{
        padding: 10px 0 5px 0;
        font-size: 20px;
    }
    .bloco-9 h3 img{
        width: 30px;
        height: 30px;
    }
    .bloco-10{
        display: inline-block;
    }
    .bloco-10-item-1{
        width: 100%;
    }
    .bloco-10-item-2{
        width: 100%;
    }
    .bloco-10-item-2 h3{
        padding-top: 35px;
        font-size: 20px;
    }
    .bloco-10-item-1 h3{
        padding-top: 25px;
        font-size: 20px;
    }
    .bloco-10-item-2 iframe{
        height: 300px;
        width: 75%;
    }   
    .menu-icons{
        justify-content: space-between;
    }
    .bloco-11-item-1{
        width: 22%;
        height: 100%;
    }
    .bloco-11-item-2{
        width: 22%;
        height: 100%;
    }
    .bloco-11-item-3{
        width: 22%;
        height: 100%;
    }
    .bloco-11-item-4{
        width: 22%;
        height: 100%;
    }
    .bloco-10-item-2 p{
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px){
    .bloco-4-btn a > p{
        line-height: 350%;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background-color:  #0FBDCE;
        color: white;
        border-radius: 13px;
        font-size: 20px;
        font-weight: 600;
        height: 70px;
        width: 350px;
        padding-top: 0px;
    }
    .bloco-3{
        height: 140px;
    }
    .bloco-6-p{
        padding-bottom:0 ;
    }
    .bloco-7-p{
        padding-bottom:0 ;
    }
    .bloco-9-container img{
        padding: 5px;
        width: 100% ;
        height: 100%;
    }
}
/*Fim Media queryss////////////////////////////////////////////////////////////////////////*/
